@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap");
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  font-family: sans-serif;
}

.btn {
  background-color: transparent;
  color: white;
  padding: 10px 25px;
  border: 1.5px solid white;
  font-weight: bold;
  letter-spacing: 2.5px;
  border-radius: 20px;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
}

.btn--orange {
  background-color: #e85d04;
}

.btn--orange:hover {
  background-color: #e85b04c7;
  color: white;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*--Navbar--*/
  /*--Slider--*/
}

main .slider,
main .content {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main nav {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 5;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main nav .logo {
  color: white;
  font-family: 'Recursive', sans-serif;
  letter-spacing: 3.5px;
}

main nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 15px;
}

main nav ul a {
  color: #2e2e2e;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 0 15px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

main nav .profile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-image: url("./images/profile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
}

main nav .profile .status {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #e85d04;
  position: absolute;
  top: 0px;
  right: 0px;
}

main .slider {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  position: relative;
  overflow: hidden;
}

main .slider .slide-1 {
  background-image: url("../images/bg.jpg");
}

main .slider .slide-2 {
  background-image: url("../images/bg2.jpg");
}

main .slider .slide-3 {
  background-image: url("../images/bg3.jpg");
}

main .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 1.2s ease;
  transition: 1.2s ease;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

main .slider .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

main .slider .slide__content {
  position: relative;
  z-index: 2;
  -webkit-transform: translateX(-130%);
          transform: translateX(-130%);
  opacity: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

main .slider .slide__content h4 {
  color: #e5e5e5;
  font-weight: lighter;
  letter-spacing: 4.5px;
  font-size: .9em;
  text-transform: uppercase;
  margin: 0;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

main .slider .slide__content h4 i {
  color: #e63946;
  font-size: .6em;
}

main .slider .slide__content h1 {
  color: white;
  font-size: 3.5em;
  margin: 15px 0 20PX;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

main .slider .slide__content p {
  color: rgba(245, 245, 245, 0.801);
  max-width: 70%;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
  line-height: 1.6em;
  letter-spacing: 1.3px;
  margin-bottom: 35px;
}

main .slider .slide__counter {
  position: absolute;
  bottom: 50px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: whitesmoke;
  opacity: .6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

main .slider .slide__counter * {
  margin: 0;
}

main .slider .slide__counter .current-slide,
main .slider .slide__counter .total-slides {
  font-size: 1.2em;
  text-shadow: 3px 3px 5px black;
}

@-webkit-keyframes progressAnim {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes progressAnim {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

main .slider .slide__counter .loader {
  width: 150px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  margin: 0 15px;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
}

main .slider .slide__counter .loader .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  -webkit-animation: progressAnim 8s ease-in-out 0s infinite;
          animation: progressAnim 8s ease-in-out 0s infinite;
}

main .slider .slide--active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  z-index: 3;
}

main .slider .slide--active .slide__content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity .7s ease-out 1s, -webkit-transform .9s ease-in-out .7s;
  transition: opacity .7s ease-out 1s, -webkit-transform .9s ease-in-out .7s;
  transition: transform .9s ease-in-out .7s, opacity .7s ease-out 1s;
  transition: transform .9s ease-in-out .7s, opacity .7s ease-out 1s, -webkit-transform .9s ease-in-out .7s;
}

main .content {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  padding: 110px 50px 25px;
}

main .content h2.title {
  margin-top: 40px;
  font-family: 'Recursive', sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.6em;
}

main .content .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 15px;
  -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

main .content .search-bar input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
}

main .content .trips .categories {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .content .trips .categories li.categories__element {
  margin-right: 40px;
  cursor: pointer;
}

main .content .trips .categories li.categories__element--active {
  color: #e85d04;
  font-weight: bold;
}

main .content .trips .trips-list {
  width: calc(40vw - 100px) !important;
}

main .content .trips .trips-list .trip-card {
  height: 280px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

main .content .trips .trips-list .trip-card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

main .content .trips .trips-list .trip-card .trip-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2px 15px;
  color: white;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  z-index: 2;
  font-family: 'Recursive', sans-serif;
}

main .content .trips .trips-list .trip-card .trip-details h3 {
  letter-spacing: 1.2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  margin: 0 0 7px;
}

main .content .trips .trips-list .trip-card .trip-details h4 {
  color: rgba(255, 255, 255, 0.89);
  margin: 0;
  font-family: sans-serif;
  font-weight: lighter;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  font-size: 1.05em;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  opacity: 0;
}

main .content .trips .trips-list .trip-card:hover .trip-details {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

main .content .trips .trips-list .trip-card:hover .trip-details h4 {
  opacity: 1;
}

main .content .categories-sec .owl-categories {
  width: calc(40vw - 100px) !important;
}

main .content .categories-sec .owl-categories button.categories-item {
  width: 60px;
  height: 60px;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2) !important;
  background-color: white;
  border-radius: 10px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main .content .categories-sec .owl-categories button.categories-item img {
  width: 85%;
  height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: brightness(0);
          filter: brightness(0);
}

@media (max-width: 1100px) {
  .btn {
    font-size: 8px;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .slider, main .content {
    min-height: 600px;
    padding-left: 15px;
    padding-right: 15px;
  }
  main .slider .slide, main .content .slide {
    padding: 0 15px;
  }
  main .slider .slide h4, main .content .slide h4 {
    font-size: 8px;
  }
  main .slider .slide h1, main .content .slide h1 {
    font-size: 30px;
  }
  main .slider .slide p, main .content .slide p {
    font-size: 7px;
  }
  main .slider .slide__counter, main .content .slide__counter {
    left: 15px;
    bottom: 20px;
  }
  main .slider .slide__counter h3, main .content .slide__counter h3 {
    font-size: 15px;
  }
  main .slider .slide__counter .loader, main .content .slide__counter .loader {
    width: 80px;
  }
  main .slider .categories-sec .owl-categories,
  main .slider .trips .trips-list, main .content .categories-sec .owl-categories,
  main .content .trips .trips-list {
    width: calc(100% - 30px) !important;
  }
  main .content {
    padding-top: 20px;
  }
  main nav {
    padding: 5px 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  main nav h1.logo {
    font-size: 15px;
  }
  main nav ul {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */